     <h1 class = "text-center"><%= "#{@artist.first_name} #{@artist.last_name}" %></h1>
      <% if (@artist == current_artist) %>
          <%= link_to 'Update Profile', edit_artist_path(@artist) %>
      <% end %>


<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('<%= cl_image_path(@artist.picture.path) %>');">

  <div class="dropdown">
      <button class="dropbtn"><strong>More about me</strong></button>
      <div class="dropdown-content">
        <p>My Address: <strong><%= "#{@artist.address}" %> </strong></p>
        <p>Description: <strong><%= "#{@artist.bio}" %> </strong></p>
        <p>Styles: <strong><%= "#{@artist.styles}" %> </strong></p>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Facebook share and like button -->
  <div
    class="fb-like"
    data-share="true"
    data-width="450"
    data-show-faces="true">
  </div>


  <!-- Artist Gallery Carousel -->
  <div class="row">
    <div class="col-xs-12">
      <h2 class= "text-center"><strong>My Work</strong></h2>
    </div>
    <% @artist.photos.each do |photo| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card-gallery" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path(photo.path) %>');">
        <div class="card-category"></div>
      </div>
    </div>
    <% end %>
  </div>


<%= link_to 'Book now', new_artist_booking_path(@artist), class: "btn btn-primary btn-lg" %>




